name: Release

on:
  # Support manually pushing a new release
  workflow_dispatch: {}
  # Trigger when a release is published
  release:
    types: [published]

defaults:
  run:
    shell: bash

jobs:
  test:
    name: Publish to NPM
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: 'https://registry.npmjs.org'

      - name: Install Dependencies
        run: |
          npm install

      - name: Build project
        run: |
          npm run build

      - name: Push Release
        if: ${{ !github.event.release.prerelease }}
        run: |
          npm publish --tag latest --access=public --provenance

      - name: Push Pre-Release
        if: ${{ github.event.release.prerelease }}
        run: |
          npm publish --tag next --access=public --provenance
